p{
	font-size:20px;
	padding-bottom :10px;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    background-color: #2d2d5b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #9acfee;
}

form {
	width:90%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom:30px;
}

#hideIns{
	float:right;
	width:100px;
}